<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.bhattifaseeh.addressbook"
     xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/AppTheme"
                 android:supportsRtl="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:allowBackup="true">


    <activity android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:name=".MainActivity">


    <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>

</activity>
    <provider android:name=".data.AddressBookContentProvider"
        android:exported="false"
        android:enabled="true"
        android:authorities="com.bhattifaseeh.addressbook.data"> </provider>

</application>

</manifest>